/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "../utils";

$color_type_0: #000000ff;
$color_type_1: #2563ebff;
$color_type_2: #ffffffff;
$color_type_3: rgb(0, 0, 0);
$color_type_4: rgb(237, 237, 237);
$color_type_5: rgb(255, 255, 255);
$color_type_6: rgb(37, 99, 235);
$color_type_7: rgb(4, 7, 13);
$color_type_8: rgb(80, 80, 80);
$color_type_9: rgb(81, 81, 81);
$color_type_10: rgba(255, 255, 255, 0);

$font_type_0: 600 35px/1.2 "Playfair Display", Helvetica, Arial, serif;
$font_type_1: 800 30px/1.2 "Playfair Display", Helvetica, Arial, serif;
$font_type_2: 400 18px/1.33 "Montserrat", Helvetica, Arial, serif;
$font_type_3: 600 18px/1.2 "Montserrat", Helvetica, Arial, serif;
$font_type_4: 400 18px/1.2 "Montserrat", Helvetica, Arial, serif;
$font_type_5: 400 18px/1.2 "Source Sans Pro", Helvetica, Arial, serif;
$font_type_6: 400 16px/1.2 "Montserrat", Helvetica, Arial, serif;
$font_type_7: italic 500 16px/1.2 "Montserrat", Helvetica, Arial, serif;
$font_type_8: 800 1em/1.2 "Playfair Display", Helvetica, Arial, serif;
$font_type_9: 1em/1.2 "Playfair Display", Helvetica, Arial, serif;
$font_type_10: 1em/1.33 "Montserrat", Helvetica, Arial, serif;

.section1_layout {
  position: relative;
  height: 633px;
}
.section1 {
  @include flex-column;
}
.flex {
  @include flex-column;
}
.flex_layout4 {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 11px;
}
.block26 {
  @include flex-column;
  background-color: $color_type_5;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24705882352941178);
}
.block26_layout {
  position: relative;
  overflow: hidden;
}
.flex1 {
  display: flex;
}
.flex1_layout1 {
  position: relative;
  flex-grow: 1;
  width: 88.96%;
  margin: 21px auto 25px;
}
.big_title {
  @include font-face($font_type_1, $color_type_3, 0px);
}
.big_title_box_layout {
  position: relative;
  flex: 0 0 auto;
}
.big_title_span0 {
  font: $font_type_8;
  color: $color_type_0;
  font-style: normal;
  letter-spacing: 0px;
}
.big_title_span1 {
  font: $font_type_9;
  color: $color_type_0;
  font-style: normal;
  letter-spacing: 0px;
}
.flex__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 466px;
}
.flex__item {
  @include flex-column;
  position: relative;
  flex: 0 1 585px;
}
.flex1_layout {
  position: relative;
  flex-grow: 1;
  margin: 15px 0px 3px;
}
.highlights8 {
  @include font-face($font_type_3, $color_type_3, 0px);
}
.highlights8_layout {
  position: relative;
  flex: 0 0 auto;
}
.flex__spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 68px;
}
.highlights {
  @include font-face($font_type_4, $color_type_3, 0px);
}
.highlights_layout {
  position: relative;
  flex: 0 0 auto;
}
.flex__spacer2 {
  @include flex-column;
  position: relative;
  flex: 0 1 65px;
}
.flex__spacer3 {
  @include flex-column;
  position: relative;
  flex: 0 1 76px;
}
.flex__spacer4 {
  @include flex-column;
  position: relative;
  flex: 0 1 67px;
}
.flex__item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 28px;
}
.image5 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.image5_layout {
  position: relative;
  width: 28px;
  min-width: 28px;
  margin: 0px 0px 5px;
}
.flex1_layout9 {
  position: relative;
  width: 88.89%;
  margin: 22px auto 0px;
}
.flex__item2 {
  @include flex-column;
  position: relative;
  flex: 0 1 229px;
}
.flex_layout {
  position: relative;
  flex-grow: 1;
  margin: 7px 0px 6px;
}
.block15 {
  @include flex-column;
}
.block15_layout {
  position: relative;
}
.contain_block {
  @include flex-column;
}
.contain_block_layout {
  position: relative;
  height: 39px;
  width: 229px;
  min-width: 229px;
}
.contain_block2 {
  @include flex-column;
}
.contain_block2_layout {
  position: relative;
  height: 39px;
}
.group {
  @include flex-column;
}
.group_layout1 {
  position: relative;
  flex-grow: 1;
}
.box1 {
  background-color: $color_type_4;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
}
.box1_layout {
  position: relative;
  height: 39px;
}
.block16 {
  @include flex-column;
  background-color: $color_type_6;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 0px 10px 10px 0px;
}
.block16_layout {
  position: absolute;
  top: 0px;
  height: 39px;
  width: 39px;
  right: 0px;
}
.group_layout {
  position: relative;
  height: 19px;
  width: 19px;
  min-width: 19px;
  margin: 10px 0px 0px 10px;
}
.icon1 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.icon1_layout {
  position: relative;
  width: 19px;
  min-width: 19px;
}
.flex1_layout2 {
  position: absolute;
  top: 7px;
  height: 22px;
  left: 10px;
  width: 99px;
}
.highlights3 {
  @include font-face($font_type_6, $color_type_3, 0px);
}
.highlights3_layout {
  position: relative;
  flex: 0 0 auto;
  margin: 0px 0px 2px;
}
.flex__spacer5 {
  @include flex-column;
  position: relative;
  flex: 0 1 12px;
}
.highlights5 {
  @include font-face($font_type_6, $color_type_8, 0px);
}
.highlights5_layout {
  position: relative;
  flex: 0 0 auto;
  margin: 2px 0px 0px;
}
.highlights3_layout1 {
  position: relative;
  margin: 38px 0px 0px;
}
.line {
  background-color: $color_type_9;
}
.line_layout {
  position: relative;
  height: 1px;
  margin: 21px 0px 0px;
}
.block1 {
  @include flex-column;
}
.block1_layout {
  position: relative;
  width: 73.36%;
  margin: 13px 26.64% 0px 0%;
}
.block2 {
  @include flex-column;
}
.block2_layout {
  position: relative;
}
.block3 {
  display: flex;
  background-color: $color_type_10;
  border-radius: 9px 9px 9px 9px;
}
.block3_layout {
  position: relative;
  flex-grow: 1;
}
.block3__item {
  @include flex-column;
  position: relative;
  flex: 0 1 108px;
}
.block4 {
  @include flex-column;
}
.block4_layout {
  position: relative;
  flex-grow: 1;
  margin: 10px 0px 10px 16px;
}
.highlights31 {
  @include font-face($font_type_6, $color_type_3, 0px);
  width: 100%;
  height: 100%;
}
.block3__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.block3__item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.image2 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.image2_layout {
  position: relative;
  width: 14px;
  min-width: 14px;
  margin: 17px 16px 16px 0px;
}
.block5 {
  @include flex-column;
  background-color: $color_type_10;
}
.block5_layout {
  position: relative;
  margin: 7px 0px 0px;
}
.group_layout2 {
  position: relative;
  height: 20px;
  width: 93px;
  min-width: 93px;
  margin: 10px 0px 0px 17px;
}
.block6 {
  @include flex-column;
}
.block6_layout {
  position: relative;
  height: 20px;
  width: 93px;
  min-width: 93px;
}
.highlights3_layout2 {
  position: relative;
  height: min-content;
  min-width: 0px;
  width: fit-content;
}
.highlights3_layout3 {
  position: absolute;
  top: 0px;
  height: min-content;
  left: 0px;
  min-width: 0px;
  width: fit-content;
}
.block2_layout1 {
  position: relative;
  margin: 7px 0px 0px;
}
.block3__item2 {
  @include flex-column;
  position: relative;
  flex: 0 1 108px;
}
.block3__spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.block3__item3 {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.block5_layout1 {
  position: relative;
  margin: 59px 0px 0px;
}
.block3__item4 {
  @include flex-column;
  position: relative;
  flex: 0 1 108px;
}
.block3__spacer2 {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.block3__item5 {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.block3__item6 {
  @include flex-column;
  position: relative;
  flex: 0 1 108px;
}
.block3__spacer3 {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.block3__item7 {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.flex__spacer6 {
  @include flex-column;
  position: relative;
  flex: 0 1 76px;
}
.flex__item3 {
  @include flex-column;
  position: relative;
  flex: 0 1 930px;
}
.contain_block1 {
  @include flex-column;
  background-color: $color_type_7;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.24705882352941178);
  border-radius: 40.4708366394043px 40.4708366394043px 40.4708366394043px 40.4708366394043px;
}
.contain_block1_layout {
  position: relative;
  margin: 0px 28px 0px 0px;
}
.image {
  background: var(--src) center center / cover no-repeat;
}
.image_layout {
  position: absolute;
  top: 0px;
  bottom: 73px;
  width: 345px;
  right: -134px;
}
.flex_layout2 {
  position: relative;
  flex-grow: 1;
  width: 72.62%;
  margin: 46px 19.07% 47px 8.31%;
}
.flex_layout1 {
  position: relative;
  margin: 0px 0px 0px 1px;
}
.hero_title {
  @include font-face($font_type_0, $color_type_5, 0px);
}
.hero_title_layout {
  position: relative;
}
.highlights1 {
  @include font-face($font_type_5, $color_type_5, 0px);
}
.highlights1_layout {
  position: relative;
  margin: 26px 0px 0px;
}
.highlights2 {
  @include font-face($font_type_2, $color_type_3, 0px);
}
.highlights2_box_layout {
  position: relative;
  margin: 35px 7px 0px 0px;
}
.highlights2_span0 {
  font: $font_type_10;
  color: $color_type_2;
  font-style: normal;
  letter-spacing: 0px;
}
.highlights2_span1 {
  font: $font_type_10;
  color: $color_type_1;
  text-decoration: underline;
  font-style: normal;
  letter-spacing: 0px;
}
.flex1_layout5 {
  position: relative;
  margin: 52px 0px 0px;
}
.flex__item4 {
  @include flex-column;
  position: relative;
  flex: 0 1 342px;
}
.flex1_layout3 {
  position: relative;
  flex-grow: 1;
}
.flex__item5 {
  @include flex-column;
  position: relative;
  flex: 0 1 33px;
}
.icon {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.icon_layout {
  position: relative;
  width: 33px;
  min-width: 33px;
}
.flex__spacer7 {
  @include flex-column;
  position: relative;
  flex: 0 1 15px;
}
.highlights21 {
  @include font-face($font_type_6, $color_type_5, 0px);
}
.highlights21_layout {
  position: relative;
  flex: 0 0 auto;
  margin: 6px 0px 7px;
}
.flex__spacer8 {
  @include flex-column;
  position: relative;
  flex: 0 1 92px;
}
.flex__item6 {
  @include flex-column;
  position: relative;
  flex: 0 1 136px;
}
.flex1_layout4 {
  position: relative;
  flex-grow: 1;
  margin: 4px 0px 6px;
}
.highlights21_layout1 {
  position: relative;
  flex: 0 0 auto;
  margin: 3px 0px 0px;
}
.flex__spacer9 {
  @include flex-column;
  position: relative;
  flex: 0 1 28px;
}
.flex__item7 {
  @include flex-column;
  position: relative;
  flex: 0 1 17px;
}
.image1 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.image1_layout {
  position: relative;
  width: 17px;
  min-width: 17px;
  margin: 0px 0px 1px;
}
.flex1_layout8 {
  position: relative;
  margin: 22px 0px 0px 3px;
}
.highlights4 {
  @include font-face($font_type_7, $color_type_3, 0px);
}
.highlights4_layout {
  position: relative;
  flex: 0 0 auto;
  margin: 7px 0px 46px;
}
.flex__spacer10 {
  @include flex-column;
  position: relative;
  flex: 0 1 21px;
}
.flex__item8 {
  @include flex-column;
  position: relative;
  flex: 0 1 824px;
}
.flex_layout3 {
  position: relative;
  flex-grow: 1;
}
.flex1_layout6 {
  position: relative;
}
.flex__item9 {
  @include flex-column;
  position: relative;
  flex: 0 1 97px;
}
.block7 {
  @include flex-column;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px 8px 8px 8px;
}
.block7_layout {
  position: relative;
  flex-grow: 1;
}
.highlights3_layout4 {
  position: relative;
  height: min-content;
  min-width: 0px;
  width: fit-content;
  margin: 6px 0px 0px 20px;
}
.flex__spacer11 {
  @include flex-column;
  position: relative;
  flex: 0 1 11px;
}
.flex__item10 {
  @include flex-column;
  position: relative;
  flex: 0 1 89px;
}
.block12 {
  @include flex-column;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px 8px 8px 8px;
}
.block12_layout {
  position: relative;
  flex-grow: 1;
}
.flex__item11 {
  @include flex-column;
  position: relative;
  flex: 0 1 129px;
}
.block11 {
  @include flex-column;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px 8px 8px 8px;
}
.block11_layout {
  position: relative;
  flex-grow: 1;
}
.flex__item12 {
  @include flex-column;
  position: relative;
  flex: 0 1 96px;
}
.block13 {
  @include flex-column;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px 8px 8px 8px;
}
.block13_layout {
  position: relative;
  flex-grow: 1;
}
.flex__item13 {
  @include flex-column;
  position: relative;
  flex: 0 1 172px;
}
.block10 {
  @include flex-column;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px 8px 8px 8px;
}
.block10_layout {
  position: relative;
  flex-grow: 1;
}
.flex__item14 {
  @include flex-column;
  position: relative;
  flex: 0 1 78px;
}
.block14 {
  @include flex-column;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px 8px 8px 8px;
}
.block14_layout {
  position: relative;
  flex-grow: 1;
}
.flex1_layout7 {
  position: relative;
  margin: 9px 0px 0px;
}
.flex__item15 {
  @include flex-column;
  position: relative;
  flex: 0 1 165px;
}
.block8 {
  @include flex-column;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px 8px 8px 8px;
}
.block8_layout {
  position: relative;
  flex-grow: 1;
}
.flex__spacer12 {
  @include flex-column;
  position: relative;
  flex: 0 1 11px;
}
.flex__item16 {
  @include flex-column;
  position: relative;
  flex: 0 1 121px;
}
.block9 {
  @include flex-column;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px 8px 8px 8px;
}
.block9_layout {
  position: relative;
  flex-grow: 1;
}
