/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: rgb(244, 244, 244);

.main {
  @include flex-column;
  background-color: $color_type_0;
}
.main_layout {
  position: relative;
  overflow: hidden;
}
